.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.middle{
    flex: 1;
    padding-top: 3em;
    padding-bottom: 3em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card{
    padding-top: 1em;
    padding-bottom: 1em;
}

.create-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 10px 0;
}

.github{
    width: 1em;
}
.middle{
    background-image: url("https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}